<header class="page-header page-header--portfolio">
  <h1 class='blog-title'><span>Writing</span></h1>
  <p class='blog-subtitle'>Things related to writing outside of this blog</p>
</header>

<ul class="portfolio-filter">
  <li class="button filter" data-filter="all">All</li>
  <li class="button filter" data-filter="book">Books</li>
  <li class="button filter" data-filter="techreview">Technical Reviews</li>
  <li class="button filter" data-filter="article">Publications</li>
</ul>

<section id="portfolio-filter" class="grids portfolio-items">
  <% writing.each do |text| %>
  <article class="grid-4 portfolio type-portfolio status-publish has-post-thumbnail skill-ui-design ui-design mix <%= text["type"] %>">
    <figure>
      <a href="javascript:void(0);" rel="bookmark">
        <img width="366" height="366" src="images/writing/<%= text["image"] %>" class="attachment-portfolio-thumbnail wp-post-image" />
      </a>
      <figcaption>
        <h4><%= text["title"] %></h4>
        <p><%= text["description"] %></p>
        <% text["buttons"].each do |button| %>
          <a href="<%= button["link"] %>" rel="bookmark" class="button"><%= button["text"] %></a>
        <% end %>
      </figcaption>
    </figure>
  </article>
  <% end %>
</section>
